
services:
  web:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./MVC:/app
    depends_on:
      - php
      - db
    networks:
      - soap-network

  php:
    build:
      context: .
      dockerfile: php.Dockerfile
    volumes:
      - ./MVC:/app
      - ./php.ini:/usr/local/etc/php/conf.d/custom.ini
    depends_on:
      - db
    environment:
      - PHP_EXTENSION_SOAP=1
    networks:
      - soap-network

  db:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: entreprise_db
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - 3306:3306
    networks:
      - soap-network

  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - 8081:8080
    networks:
      - soap-network
      
networks:
  soap-network:
    driver: bridge

volumes:
  db-data:
